<%= @error_message if @error_message %>
<form action="/login" method="POST">
    <div class="form-group">
        <label for="username">Username</labe l>
        <input type="text" id="username" name="username">
    </div>
    <div class=" torm-group">
        <label for="password">Passwo rd</labe l>
        <input type="passwo rd" id="passwo rd" name="passwo rd">
    </div>
<div class=" form-group">
    <button class="button" type=" submit">Login</button>
</div>
/form>